PORT= #Port where the server will run
URI= # The uri used to connect to mongo atlas
FRONT_URL= #The url of the front to add in the cors white list
PRIVATE_KEY_JWB = #The private key to codify the json web token
PRIVATE_KEY_STRIPE=# The private keys used in stripe
PRIVATE_KEY_WEBHOOK=# Key used for web hook